<footer class="footer-main">
    {{ site.creator }} © {{ site.time | date: '%Y' }} <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
	<br>
    <a class="link" href="http://rhps.github.io">
    	<span style="color: #ffffff !important;" >Data Science Indonesia</span>
	</a>

<!--     <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a> by <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p> -->
</footer>
