{% if page.title == "Booklet"
   or page.title == "Buku"
   or page.title == "Arsip"
   or page.title == "Kompilasi"
   or page.title == "Monolog"
   or page.title == "Puisi"
   or page.title == "Opini"
   or page.title == "Resensi"
   or page.title == "Tags"
%}{% assign otherHeader = true %}{% endif %}

{% if page.title == "Home" %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% if otherHeader == true %}
    <header class="header-other {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h2 class="title">{{ site.name }}</h1>
        <h3 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
		
		<h2>{{ page.title }}</h2>
    </header>
{% endif %}

{% include nav.html %}
