<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.booklet == true %}
            {% if page.title != "Booklet" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/booklet">Booklet</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.buku == true %}
            {% if page.title != "Buku" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/buku">Buku</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.arsip == true %}
            {% if page.title != "Arsip" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/arsip">Arsip</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.kompilasi == true %}
            {% if page.title != "Kompilasi" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/kompilasi">Kompilasi</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.monolog == true %}
            {% if page.title != "Monolog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/monolog">Monolog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.puisi == true %}
            {% if page.title != "Puisi" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/puisi">Puisi</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.opini == true %}
            {% if page.title != "Opini" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/opini">Opini</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resensi == true %}
            {% if page.title != "Resensi" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/resensi">Resensi</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}

    </ul>
</nav>
