<div>
    <a class="link" data-title="{{ site.breaker }}" href="{{ site.breaker }}" target="_blank">
        <img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/breaker.png" 
             srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/breaker.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/breaker@2x.png 2x" 
             alt="Breaker Logo" height="50" width="50">
    </a>
    <a class="link" data-title="{{ site.googlepodcast }}" href="{{ site.googlepodcast }}" target="_blank">
       <img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/google_podcasts.png" 
            srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/google_podcasts.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/google_podcasts@2x.png 2x" 
            alt="Google Podcasts Logo" height="50" width="50">
    </a>
    <a class="link" data-title="{{ site.radiopublic }}" href="{{ site.radiopublic }}" target="_blank">
        <img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/radiopublic.png" 
             srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/radiopublic.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/radiopublic@2x.png 2x" 
             alt="RadioPublic Logo" height="50" width="50">
    </a>

  
  
</div>
