<div class="social-links">
    <a class="link" data-title="Breaker" href="{{ site.breaker }}" target="_blank">
        <img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/breaker.png" 
             srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/breaker.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/breaker@2x.png 2x" 
             alt="Breaker Logo" height="30" width="30">
    </a>
    <a class="link" data-title="Google Podcast" href="{{ site.googlepodcast }}" target="_blank">
       <img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/google_podcasts.png" 
            srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/google_podcasts.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/google_podcasts@2x.png 2x" 
            alt="Google Podcasts Logo" height="30" width="30">
    </a>
    <a class="link" data-title="RadioPublic" href="{{ site.radiopublic }}" target="_blank">
        <img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/radiopublic.png" 
             srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/radiopublic.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/radiopublic@2x.png 2x" 
             alt="RadioPublic Logo" height="30" width="30">
    </a>
    <a class="link" data-title="PocketCast" href="{{ site.pocketcast }}" target="_blank">
        <img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/pocket_casts.png" 
             srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/pocket_casts.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/pocket_casts@2x.png 2x" 
             alt="Pocket Casts Logo" height="30" width="30">
    </a>
    <a class="link" data-title="Castbox" href="{{ site.castbox }}" target="_blank">
        <img src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/castbox.png" 
             srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/castbox.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/castbox@2x.png 2x" 
             alt="Castbox Logo" height="30" width="30">
    </a>
  
    
</div>
