---
layout: page
title: Booklet
description: Serial Booklet PHX berisi beragam topik tertentu secara tematik. Booklet ini tidak disebut buku karena hanya berbentuk sederhana dengan isi sekitar 40-60 halaman. Seluruh konten booklet dibuat, disunting, didesain, dan dipublikasikan secara personal. Semua konten secara digital bisa diunduh melalui tautan di gambar cover masing-masing booklet.
---

{% assign racks = site.data.booklet | where_exp: "item", "item.title != blank" | group_by: "rack" %}

<div class="shelf-collection" data-paginate="20">
{% for rack in racks %}
  <section class="rack">
    {% comment %}A lone group needs no heading; only label the shelves when there is more than one.{% endcomment %}
    {% if racks.size > 1 %}
      {% if rack.name != "" %}
        {% assign section_label = rack.name %}
      {% else %}
        {% assign section_label = "Lainnya" %}
      {% endif %}
    <h2 class="rack-label">{{ section_label }}</h2>
    <hr class="rack-divider">
    {% endif %}
    <main class="shelf">
      {% for book in rack.items %}
      <article class="book">
        <figure class="book-cover">
          <a href="{{ book.link }}">
            <img class="buku" src="/assets/images/cover/{{ book.image }}" alt="{{ book.title }}">
          </a>
        </figure>
        <div class="book-info">
          <h3><a href="{{ book.link }}">{{ book.title }}</a></h3>
          <p>{{ book.author }}</p>
        </div>
      </article>
      {% endfor %}
    </main>
  </section>
{% endfor %}
</div>
