---
layout: page
title: Resensi
description: Kumpulan resensi film. 
---

<main class="shelf">
  {% for book in site.data.resensi  %}
  <article class="book">
    <figure class="book-cover">
		 <img src="/assets/images/film/{{ book.image }}" alt="{{ book.title }}">
    </figure>
	{% for post in site.posts %}
		{% if post.title == book.title %}
				<div class="book-info" align="center">
					<a class="url" href="{{ site.url }}{{ post.url }}">
						<h4>{{ book.title }}</h4>
					</a>
					<p style="font-size:90%;">{{ book.author }}</p>
				</div>
		{% endif %}
	{% endfor %}
  </article>
  {% endfor %}
</main>
