.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.puis {
	column-width: 300px;
    column-count: "auto";
	align: "center";
}